<div class="col-sm-12 float-left">
  <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About me</h2>
  <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Trying since 2014.</p>
  <p class="mb-4 text-left">
    Software developer started trying since 2014. Good team player and a self-learner, worked in different companies on variety of projects including web, mobile and desktop apps development. concerned a lot about the code and the quality and eager to learn more everyday to extend my capabilities and my knowledge. 
  </p>
</div>
