<div class="col-sm-12 float-left">
  <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Articles</h2>
  <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Things I've written about.</p>
  <div class="d-sm-flex flex-wrap gutter-condensed mb-4">


    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      <div class="github-component d-flex flex-column flex-justify-between height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
        <div>
          <div class="d-flex flex-justify-between flex-items-start mb-1">
            <h1 class="f4 lh-condensed mb-1">
              <a href="https://medium.com/@bardiarastin/flutter-meets-redux-the-redux-way-of-managing-flutter-applications-state-f60ef693b509">
                {% octicon repo height:20 class:"mr-1 v-align-middle" fill:"#586069" aria-label:repo %}
                Flutter meets Redux: The Redux way of managing Flutter applications state
              </a>
            </h1>
          </div>
          <div class="text-gray mb-2 ws-normal">Explaining Flutter state management using Redux Dart</div>
        </div>
        <div class="d-flex f6">
          <span class="repo-language-color ml-0 mr-1" style="background-color:#000"></span>
          <span class="mr-3" itemprop="programmingLanguage">English</span>   
        </div>
      </div>
    </div>


    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      <div class="github-component d-flex flex-column flex-justify-between height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
        <div>
          <div class="d-flex flex-justify-between flex-items-start mb-1">
            <h1 class="f4 lh-condensed mb-1">
              <a href="https://virgool.io/@bardiarastin/why-do-we-use-vscode-ario5dfeqobb">
                {% octicon repo height:20 class:"mr-1 v-align-middle" fill:"#586069" aria-label:repo %}
                Why do we use VSCode
              </a>
            </h1>
          </div>
          <div class="text-gray mb-2 ws-normal">I use VSCode to write code, in this article I've written about my experiences</div>
        </div>
        <div class="d-flex f6">
          <span class="repo-language-color ml-0 mr-1" style="background-color:red"></span>
          <span class="mr-3" itemprop="programmingLanguage">Persian</span>   
        </div>
      </div>
    </div>


    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      <div class="github-component d-flex flex-column flex-justify-between height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
        <div>
          <div class="d-flex flex-justify-between flex-items-start mb-1">
            <h1 class="f4 lh-condensed mb-1">
              <a href="https://virgool.io/JavaScript8/connect-to-spotify-using-nodejs-oy4bmae3ntvs">
                {% octicon repo height:20 class:"mr-1 v-align-middle" fill:"#586069" aria-label:repo %}
                Connect to Spotify using Node.js
              </a>
            </h1>
          </div>
          <div class="text-gray mb-2 ws-normal">How to make a http server proxy with Node.js</div>
        </div>
        <div class="d-flex f6">
          <span class="repo-language-color ml-0 mr-1" style="background-color:red"></span>
          <span class="mr-3" itemprop="programmingLanguage">Persian</span>   
        </div>
      </div>
    </div>

  </div>
</div>

