<div class="col-sm-12 float-left">
  <h2 {% if site.style == 'dark' %}class="text-white" {% endif %}>Experience</h2>
  <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Companies I've worked in.</p>
  <div class="mb-4" style="
  display: flex;
  flex-direction: column;
  align-items: flex-start;
    ">

    <div class="pl-3">
      <div class="TimelineItem">

        <div class="TimelineItem-badge">
          <img class="avatar" height="70" width="70" alt="company" src="/assets/reyhoon.jpeg" />
        </div>

        <div class="TimelineItem-body d-flex flex-column align-start" style="align-items: flex-start;">
          <p class="text-bold mr-1">Software Developer</p>
          <p class="text-bold mr-1">Reyhoon Dec 2017 – Jun 2019</p>
          <p class="text-dark text-left mr-1">
            - As the maintainer of the Merchant App (Electron app written in React for managing orders as a restaurant
            merchant), I Did a huge work on performance tuning such as migrating heavy tasks to separate processes,
            optimizing React components, Adding cache for printer and worked on new features such as voice OTP login,
            multiple restaurant branch support, etc.
          </p>
          <p class="text-dark text-left mr-1">
            - As the maintainer of Reyhoon Orders Panel (Written using React, Redux, Socket IO, etc.), I worked on new
            features coming to the product which required a change on this panel.
          </p>
          <p class="text-dark text-left mr-1">
            - As a member of the Reyhoon Back End Team (PHP, Nodejs & Golang), I worked on different microservices of
            several parts of Reyhoon with Golang as a new language for me and Node.js.
          </p>
          <p class="text-dark text-left mr-1">
            - As a member of Reyhoon Mobile App Team (Built using React Native and Typescript), I implemented 2 main
            screens, Orders and User Profile and features like app update,
            deep linking for the bank payment, etc. in summary I wrote a lot of well-optimized components.
          </p>
        </div>
      </div>
    </div>


    <div class="pl-3">
      <div class="TimelineItem">
        <div class="TimelineItem-badge">
          <img class="avatar" height="70" width="70" alt="company" src="/assets/hami.png" />
        </div>

        <div class="TimelineItem-body d-flex flex-column align-start" style="align-items: flex-start;">
          <p class="text-bold mr-1">Front End Developer</p>
          <p class="text-bold mr-1">Hami Andisheh Holding Company Jan 2017 – Dec 2017</p>
          <p class="text-dark text-left mr-1">
            - Mainly I worked on a lot of parts of the main company website with tools such as React, Redux, Node Js
            (express as server rendering tool), Webpack, Grunt, Sass, etc.
          </p>
          <p class="text-dark text-left mr-1">
            - Creator and maintainer of the Back Office admin panel.
          </p>
        </div>
      </div>
    </div>

    <div class="pl-3">
      <div class="TimelineItem">
        
        <div class="TimelineItem-badge">
          <img class="avatar" height="70" width="70" alt="company" src="/assets/ghasedak.png" />
        </div>

        <div class="TimelineItem-body d-flex flex-column align-start" style="align-items: flex-start;">
          <p class="text-bold mr-1">Front End Developer</p>
          <p class="text-bold mr-1">Ghasedak24 Jun 2016 – Dec 2016</p>
          <p class="text-dark text-left mr-1">
            - Creator and maintainer of Ghasedak24 Back Office and Web file manager using React.js
          </p>
        </div>
      </div>
    </div>


    <div class="pl-3">
      <div class="TimelineItem">
        <div class="TimelineItem-badge">
          <img class="avatar" height="70" width="70" alt="company" src="/assets/ponisha.png" />
        </div>

        <div class="TimelineItem-body d-flex flex-column align-start" style="align-items: flex-start;">
          <p class="text-bold mr-1">Freelance Software Developer</p>
          <p class="text-bold mr-1">Ponisha Jun 2014 – Jun 2016</p>
          <p></p>
        </div>
      </div>
    </div>

  </div>
</div>