
{% assign metadata_styles = 'd-flex flex-items-center mb-3' %}


<div class="d-flex flex-column flex-md-row flex-items-center">

  <div class="col-sm-12 col-md-6 float-left">
    <img src="{{ user.avatar_url }}" class="circle mb-3" style="max-width: 360px;">
    <h1 class="{% if site.style == 'dark' %}text-black{% endif %} mb-2 lh-condensed">{% if user.name %}{{ user.name }}{% else %}{{ user.login }}{% endif %}</h1>
    <p class="mb-3 f4 {% if site.style == 'dark' %}text-black{% else %}text-gray{% endif %}">
      {{ user.bio }}
    </p>
  </div>
  
  {% if include.metadata %}
    <div class="col-sm-12 col-md-6 float-left">
      {% if user.name %}
        <div class="{{ metadata_styles }}">
          {% octicon mark-github height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:GitHub %}
          <a href="https://github.com/{{ user.login }}" {% if site.style == 'dark' %}class="text-black"{% endif %}>
            Github
          </a>
        </div>
      {% endif %}
  
      {% if site.social_media %}
          {% for account in site.social_media %}
            <div class="{{ metadata_styles }}">
              {% assign service_shortname = account[0] %}
              {% assign service = site.data.social_media[service_shortname] %}
              {{ service.icon_svg }}
              <a href="{{ service.profile_url_prefix }}{{ account[1] }}" class="text-black" aria-label="{{ service.name }}: {{ account[1] }}">
                {{ service.name }}
              </a>
            </div>
          {% endfor %}
      {% endif %}
      <div class="{{ metadata_styles }}">
        {% octicon mail height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:email %}
        <a href="mailto:{{ user.email }}" {% if site.style == 'dark' %}class="text-black"{% endif %}>
          <!-- {{ user.email }} -->
          a.rastin98@gmail.com
        </a>
      </div>
      {% if user.location %}
        <div class="{{ metadata_styles }} {% if site.style == 'dark' %}text-black{% endif %}">
          {% octicon location height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:Location %}
          Tehran, Iran
        </div>
      {% endif %}
    </div>
  {% endif %}
    
</div>
