<div class="col-sm-12 float-left">
  <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Skills</h2>
  <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Things I've worked with, this could be a very long list but I prefrer to keep it simple wit major stuff!</p>
  <div class="mb-4">
    <span class="State">Javascript</span>
    <span class="State">Typescript</span>
    <span class="State">React</span>
    <span class="State">React Native</span>
    <span class="State">Redux</span>
    <span class="State">Dart</span>
    <span class="State">Flutter</span>
    <span class="State">Html</span>
    <span class="State">Git</span>
    <span class="State">Electron</span>
    <span class="State">Go</span>
  </div>
</div>

